/*
### CUSTOM STYLES
*/


/*
### OVERALL STYLES
*/

html {
  background: #fafafa fixed;
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  background-color: #fafafa;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}


/*
### NAV BAR
*/

.navbar.navbar-light.bg-light {
  background-color: #e3f2fd !important;
  margin-bottom: 20px;

  .navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 140, 0, 0.911);
    border: none;
    background-color: transparent;
  }

  .navbar-nav.ml-auto {
    margin-left: auto;
  }

  .nav-item {
    a {
      text-decoration: none;
    }
    .nav-link {
      border: none;
      background-color: transparent;
    }
  }
}


/*
### CARDS
*/

.card {
  height: 100%;
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

/*
### RECIPE DETAILS
*/

#recipe-details {
  .recipe-times {
    font-weight: 600;
    margin-right: 20px;
    .recipe-time-span {
      margin-right: 5px;
    }
  }

  button {
    margin-right: 20px;
  }
}

/*
### FORM ELEMENTS
*/

#newRecipePrivacy {
  padding: 0;
}