<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Recipe-Binder: Log In</title>

    <!-- FAVICONS -->
    <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/public/favicons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/public/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/public/favicons/favicon-16x16.png"
  />
  <link rel="manifest" href="/public/favicons/site.webmanifest" />

    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link href="/public/styles/login.css" rel="stylesheet">
  </head>

  <body>
    <div class="login-flex flex-col flex-j-start flex-a-center">
      <div class="login-container border-custom-1">
        <div class="login-logo">
          <p><i class="fas fa-utensils"></i></p>
          <h1>recipe-binder</h1>
        </div>
        <form class="login-form" method="POST" action='/login'>
          <% if (error) { %>
            <div class="login-error"> <%= error %> </div>
          <% } %>
          <input class="bg-custom-1 border-custom-1" name="email" type="email" placeholder="email"></input>
          <input class="bg-custom-1 border-custom-1" name="password" type="password" placeholder="password"></input>
          <input class="btn" type='submit' value="Log In">
        </form>
        <a href="/signup">No Account? Sign Up Here!</a>
      </div>
    </div>
  </body>

</html>
