<html>
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>
<body>
  <h1>Login Page</h1>
  <form method="POST" action='/login'>
    <input name="email" type="email" placeholder="email"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="login">
  </form>
  <% if (error) { %>
    <div>  Error </div>
    <div> <%= error %> </div>
  <% } %>
</body>
</html>
